/* line 7, ../src/sass/styles.scss */
body {
  background-color: red;
  font-size: 24px;
  color: blue;
}
/* line 8, ../src/sass/styles.scss */
body div {
  background-color: orange;
  width: 10px;
}
/* line 12, ../src/sass/styles.scss */
body h1 {
  width: 48px;
  height: 100%;
}
